.shoe-card {
     border: 2px solid blue; 
    width: 230px;
    min-height: 410px;
    max-height: auto;
    border-radius: 20px;
    margin-top: 10px;
    padding: 5px 5px;
    box-shadow: 0px 0px 12px black;
  }
  
  .shoe-img {
    /* border: 2px solid rgb(23, 23, 22); */
    padding: 10px 20px;
    border-radius: 10px;
  
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  
  .shoe-detail {
    /* border: 2px solid red; */
    border-radius: 10px;
    padding: 5px 5px;
  
    .head-d {
      font-size: 1.3rem;
      /* line-height: 5; */
      font-weight: 500;
    }
  }
  