.Popularity{
    border: 2px solid rgb(89, 222, 12);
    height: auto;

padding: 30px 30px;
    h1{
        padding: 30px 30px;
    }

.product-area{


    display: flex;
    flex-wrap: wrap;
gap: 10px;
}


}