
.wrap-container{
    border: 2px solid rgb(9, 218, 173);
height: 97vh;
padding: 10px 10px;
display: flex;
justify-content: center;
align-items: center;
}

.container {
    position: relative;
    width: 320px;
    background: #fff;
    border: 2px solid red;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form h2 {
    text-align: center;
  }
  
  .input-box {
    position: relative;
    margin: 20px 0;
  }
  
  .input-box input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #1f293a;
    outline: none;
  }
  
  .input-box label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .input-box input:focus + label,
  .input-box input:valid + label {
    top: -15px;
    font-size: 12px;
    color: #1f293a;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    background: #1f293a;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  