.signup-form {
    width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    h1 {
      text-align: center;
      color: #333;
    }
    form {
      display: flex;
      flex-direction: column;
      label {
        font-weight: bold;
        margin-top: 10px;
      }
      input {
        height: 30px;
        border: 1px solid #999;
        border-radius: 5px;
        padding: 5px;
      }
      button {
        height: 40px;
        background-color: #0078d4;
        color: white;
        border: none;
        border-radius: 5px;
        margin-top: 20px;
        cursor: pointer;
      }
      .login-masg{

padding: 15px 10px;

        span{
          color: red;
          
        }
        
      }


    }
  }
  